<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    <title>The W3C Markup Validation Service</title>
    <title>The W3C Markup Validation Service</title>
   
    
<%= stylesheet_link_tag "index.css" %>  
</head>
<body>
   <div id="frontforms">
	<ul id="tabset_tabs">
		<li class="selected"><a href="#validate_by_uri+with_options"><span>Validate by</span> URI</a></li>
		<li class=""><a href="#validate_by_upload+with_options"><span>Validate by</span> File Upload</a></li>
		<li class=""><a href="#validate_by_input+with_options"><span>Validate by</span> Direct Input</a></li>
	</ul>
<div id="fields">

<fieldset style="display: block; visibility: visible; opacity: 1;" id="validate-by-uri" class="tabset_content front"><legend class="tabset_label">Validate by URI</legend>
    <p class="instructions">
	Validate a document online:     
   </p>
   <p>
   
        <%= form_tag '/validator/validate', :multipart => true do %>
	 	<label title="Address of page to Validate" for="uri">Address:</label>
                <%= text_field_tag 'uri' %>

       
   </p>
  <fieldset id="extra_opt_uri" class="moreoptions">
		<legend class="toggletext toggled"><a href="#validate_by_uri"><img id="toggleiconURI" class="toggleicon toggled" src="/assets/images/arrow-open.png" alt="Hide "> More Options</a></legend>
		<div style="margin: 0px; position: static; overflow: hidden; height: auto;"><div style="margin: 0px;" class="options">
		
                
                <table>
  <tbody><tr>
    <th>
      <label for="uri-charset">Character Encoding</label>
    </th>
    <td>
                    <select id="uri-charset" name="charset">
                <option value="(detect automatically)" selected="selected">(detect automatically)</option>
                <option value="utf-8">utf-8 (Unicode, worldwide)</option>
                <option value="utf-16">utf-16 (Unicode, worldwide)</option>
                <option value="iso-8859-1">iso-8859-1 (Western Europe)</option>
                <option value="iso-8859-2">iso-8859-2 (Central Europe)</option>
                <option value="iso-8859-3">iso-8859-3 (Southern Europe)</option>
                <option value="iso-8859-4">iso-8859-4 (North European)</option>
                <option value="iso-8859-5">iso-8859-5 (Cyrillic)</option>
                <option value="iso-8859-6-i">iso-8859-6-i (Arabic)</option>
                <option value="iso-8859-7">iso-8859-7 (Greek)</option>
                <option value="iso-8859-8">iso-8859-8 (Hebrew, visual)</option>
                <option value="iso-8859-8-i">iso-8859-8-i (Hebrew, logical)</option>
                <option value="iso-8859-9">iso-8859-9 (Turkish)</option>
                <option value="iso-8859-10">iso-8859-10 (Latin 6)</option>
                <option value="iso-8859-11">iso-8859-11 (Latin/Thai)</option>
                <option value="iso-8859-13">iso-8859-13 (Latin 7, Baltic Rim)</option>
                <option value="iso-8859-14">iso-8859-14 (Latin 8, Celtic)</option>
                <option value="iso-8859-15">iso-8859-15 (Latin 9)</option>
                <option value="iso-8859-16">iso-8859-16 (Latin 10)</option>
                <option value="us-ascii">us-ascii (basic English)</option>
                <option value="euc-jp">euc-jp (Japanese, Unix)</option>
                <option value="shift_jis">shift_jis (Japanese, Win/Mac)</option>
                <option value="iso-2022-jp">iso-2022-jp (Japanese, email)</option>
                <option value="euc-kr">euc-kr (Korean)</option>
                <option value="ksc_5601">ksc_5601 (Korean)</option>
                <option value="gb2312">gb2312 (Chinese, simplified)</option>
                <option value="gb18030">gb18030 (Chinese, simplified)</option>
                <option value="big5">big5 (Chinese, traditional)</option>
                <option value="big5-HKSCS">Big5-HKSCS (Chinese, Hong Kong)</option>
                <option value="tis-620">tis-620 (Thai)</option>
                <option value="koi8-r">koi8-r (Russian)</option>
                <option value="koi8-u">koi8-u (Ukrainian)</option>
                <option value="iso-ir-111">iso-ir-111 (Cyrillic KOI-8)</option>
                <option value="macintosh">macintosh (MacRoman)</option>
                <option value="windows-1250">windows-1250 (Central Europe)</option>
                <option value="windows-1251">windows-1251 (Cyrillic)</option>
                <option value="windows-1252">windows-1252 (Western Europe)</option>
                <option value="windows-1253">windows-1253 (Greek)</option>
                <option value="windows-1254">windows-1254 (Turkish)</option>
                <option value="windows-1255">windows-1255 (Hebrew)</option>
                <option value="windows-1256">windows-1256 (Arabic)</option>
                <option value="windows-1257">windows-1257 (Baltic Rim)</option>
              </select>

    </td>
    <td><input id="uri-fbc" name="fbc" value="1" type="checkbox"><label for="uri-fbc" title="Use selected Character encoding only if missing in the document">Only if missing</label></td>
  </tr>
  <tr>
    <th>
        <label for="uri-doctype">Document Type</label>
    </th>
    <td>
        <select id="uri-doctype" name="doctype">
  <option value="Inline" selected="selected">(detect automatically)</option>
  <option value="HTML5">HTML5 (experimental)</option>
  <option value="XHTML 1.0 Strict">XHTML 1.0 Strict</option>
  <option value="XHTML 1.0 Transitional">XHTML 1.0 Transitional</option>
  <option value="XHTML 1.0 Frameset">XHTML 1.0 Frameset</option>
  <option value="HTML 4.01 Strict">HTML 4.01 Strict</option>
  <option value="HTML 4.01 Transitional">HTML 4.01 Transitional</option>
  <option value="HTML 4.01 Frameset">HTML 4.01 Frameset</option>
  <option value="HTML 4.01 + RDFa 1.1">HTML 4.01 + RDFa 1.1</option>
  <option value="HTML 3.2">HTML 3.2</option>
  <option value="HTML 2.0">HTML 2.0</option>
  <option value="ISO/IEC 15445:2000 (&quot;ISO HTML&quot;)">ISO/IEC 15445:2000 ("ISO HTML")</option>
  <option value="XHTML 1.1">XHTML 1.1</option>
  <option value="XHTML + RDFa">XHTML + RDFa</option>
  <option value="XHTML Basic 1.0">XHTML Basic 1.0</option>
  <option value="XHTML Basic 1.1">XHTML Basic 1.1</option>
  <option value="XHTML Mobile Profile 1.2">XHTML Mobile Profile 1.2</option>
  <option value="XHTML-Print 1.0">XHTML-Print 1.0</option>
  <option value="XHTML 1.1 plus MathML 2.0">XHTML 1.1 plus MathML 2.0</option> 
  <option value="XHTML 1.1 plus MathML 2.0 plus SVG 1.1">XHTML 1.1 plus MathML 2.0 plus SVG 1.1</option> 
  <option value="MathML 2.0">MathML 2.0</option>
  <option value="SVG 1.0">SVG 1.0</option>
  <option value="SVG 1.1">SVG 1.1</option>
  <option value="SVG 1.1 Tiny">SVG 1.1 Tiny</option>
  <option value="SVG 1.1 Basic">SVG 1.1 Basic</option>
  <option value="SMIL 1.0">SMIL 1.0</option>
  <option value="SMIL 2.0">SMIL 2.0</option>
</select>
    </td>
    <td><label for="uri-fbd"><input id="uri-fbd" name="fbd" value="1" title="Use selected Document Type only if missing in the document" type="checkbox">Only if missing</label></td>
  </tr>
  <tr>
          <td colspan="3"><input name="group" id="urigroup_no" value="0" checked="checked" type="radio"><label for="urigroup_no">List Messages Sequentially</label> <input name="group" id="urigroup_yes" value="1" type="radio"><label for="urigroup_yes">Group Error Messages by Type</label></td>

</tr>
<tr>
        <td><input id="uri-ss" name="ss" value="1" type="checkbox"><label title="Show Page Source" for="uri-ss">Show Source</label></td>
        <td colspan="2"><input id="uri-st" name="st" value="1" type="checkbox"><label for="uri-st">Clean up Markup with HTML-Tidy</label>
        </td>
        


          </tr>
          <tr>
                  <td><input id="uri-outline" name="outline" value="1" type="checkbox"><label title="Show an Outline of the document" for="uri-outline">Show Outline</label>
                  </td>
                  <td><input id="uri-No200" name="No200" value="1" type="checkbox"><label title="Validate also pages for which the HTTP status code indicates an error" for="uri-No200">Validate error pages</label></td>

                  <td><input id="uri-verbose" name="verbose" value="1" type="checkbox"><label title="Verbose Output" for="uri-verbose">Verbose Output</label></td>
        </tr>
</tbody></table>

  
    </div></div>
  </fieldset>


	<p class="submit_button">
			<%= submit_tag "Check"%>
	</p>
	  
<% end %>
</fieldset>

  </div><!-- fields -->
  </div> <!-- frontforms -->

</body></html>