<!DOCTYPE html>
<html>
    <!-- header -->
   <head>
      <title>HTML Validation Service</title>
      <link rel="stylesheet" type="text/css" href="css/style.css" media="all">
   </head>
   <!-- header -->
   <body>
      <div id="banner">
         <h1 id="title">
            <img alt="W3C" id="logo" src="images/cognizant.jpg" height="61" width="110" style ="margin-top:10px;margin-left:10px;">
            <span>Markup Validation Service</span>
         </h1>
         <p id="tagline" style = "padding-left:10px;">Check the markup (HTML) of Web documents</p>
      </div>
      <div id="frontforms">
         <ul id="tabset_tabs">
            <li class="selected"><a href="#validate_by_uri"><span>Validate by</span> URI</a></li>
         </ul>
         <div id="fields">
            <fieldset style="display: block; visibility: visible; opacity: 1;" id="validate-by-uri" class="tabset_content front">
               <legend class="tabset_label">Validate by URI</legend>
               <form method="get" action="http://validator.w3.org/check">
                  <p class="instructions">
                     URL should be in the form for an ex : "www.cognizant.com"
                  </p>
                  <p>
                     <label title="Address of page to Validate" for="uri">Address:</label>
                     <input value="" name="uri" id="uri" size="45" type="text" style = "background: url('textbg.png') no-repeat scroll left top rgb(254, 254, 254);">
                     </br></br>
                     <input id="direct-st" name="st" value="1" type="checkbox">
                     <label for="direct-st">Clean up Markup with HTML-Tidy</label>
                  </p>
                  </br>
                  <p class="submit_button">
                     <input title="Submit for validation" value="Check" type="submit" class="submit">
                  </p>
               </form>
            </fieldset>
         </div>
         <!-- fields -->
      </div>
      <!-- frontforms -->
      <!-- footer -->
      <div id="footer">		</div>
      <!-- footer -->
   </body>
</html>
